.eventsoverview #type svg { 
	width:400px; 
}
.eventsoverview #duration > svg > g > g.row > text {
	fill:black;
}
.eventsoverview #ismonetory svg {
	width: 300px; 
}
.dc_contacts #source > svg > g > g.row > text {
	fill:black;
}

.eventoverview{
	background-color: #ddd;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: auto;
	position: relative;
}

.eventdetails{
	width: 400px;z
	float: left;
}

.detailfield{
	font-size:14px; 
	color:steelblue; 
	display:inline;
	font-weight: 800;
	padding-right: 5px;
}
.detailvalue{
	font-size:14px; 
	display:inline;
	font-weight: 800;
}
.detail{ 
	clear:both;
}
#noofparticipants{
	float: left;
	left:400px;
	position: absolute;
	bottom: 0;
}
#participants{
	width:100%;
}